

// Blue Palette
$lightest: #f4f8ff; // first bg color, navmenu color
$bright: #99adcc;
$dbright: #5c89cc;
$deeper: #436495; // second bg color, navlink hover
$deepest: #436495; // third bg color
$medium: #606c80;
$darkest: #3e4b62;

$light-text: white;
$dark-text: black;

